%p
  %strong Title:
  = @article.title

%p
  %strong Text:
  = @article.text

%h2 Comments
= render @article.comments


%h2 Add a comment:
= render "comments/form"

= link_to "return to index", articles_path
%br
= link_to "edit", edit_article_path(@article)
